body {
    height: 100%;
  }
  
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

h1
{
   
   
    color: blue;
    width: 300px;
    margin: 0 auto;
    padding: 15px 20px;
    display: block;
}


form
{
    display: block;
    width: 445px;
    border: 5px solid rgb(56, 136, 160);
    margin: 0 auto;
    color: #fff;
    padding: 50px;
    height: 420px;
    border-radius: 10px;
}

form input
{
    width: 300px;
    margin: 0 auto;
    padding: 15px 20px;
    margin-bottom: 70px;
    display: block;
}

button
{
    width: 300px;
    margin: 0 auto;
    padding: 15px 20px;
    margin-bottom: 70px;
    display: block;
    background-color: #fff !important;
    color: #000;
}
